<h1>Configure preço da empresa</h1>

<% if(@price.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @price.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= render 'form' %>

<%= link_to 'Voltar', root_path %>